<!-- views/greeting.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronômetro Online</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container-centralizador">
        <div class="container-cronometro-botao">
            <h2 class="texto-cronometro" id="cronometro">00:00:00</h2>
            <button class="button" id="botaoComecar">Começar</button>
            <button class="button invisivel" id="botaoFinalizar">Finalizar</button>
        </div>
    </div>
    <script src="/scripts/cronometro.js"></script>
</body>
</html>
