*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ba9ffb;
}

.container-centralizador{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-cronometro-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-cronometro{
    color: #ba9ffb;
    background-color: #121212;
}

.texto-cronometro{
    font-size: 10rem;
}

.button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #121212;
    background-color: #ba9ffb;
    border: 1px solid #ba9ffb;
    border-radius: 5px;
    cursor: pointer;
}

.invisivel{
    display: none;
}